.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.static-page-layout {
	.entry-content {
		width: 95%;
		max-width: 900px;
		margin: 0 auto 8rem;
		font-size: 1.25rem;
		box-shadow: 0 0 10px;
		background-color: white;
		padding: 3rem 1.5rem;

		@media screen and (min-width: 600px) {
			padding: 4rem 2rem;
			
		}

		@media screen and (min-width: 900px) {
			padding: 4rem 3rem;
			
		}
	}


}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-section {
	margin: 6rem 1rem;
	
	@media screen and (min-width: 1100px) {
		margin-left: 0;
		margin-right: 0;
		
	}
}

.article-thumb-title {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	color: $color__text-main;
	padding: 0 0.5rem;

	@media screen and (min-width: 550px) { 
		padding: 0.5rem;
		
	}
}

.hero-section {
	height: 100vh;
	position: relative;

	.post-thumbnail {
		height: 100%;
		box-shadow: 0 0 20px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}


}

.hero-title {
	font-family: $font__heading;
	color: $color__text-main;
	// inline-size: 100%;
    overflow-wrap: break-word;
}

.hero-excerpt {
	color: $color__text-main;
	font-family: $font__italic;
}

.news-link {

	position: relative;
}



.director-card {
		/* padding: 0 3rem 2rem; */
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: grayscale(.8) blur(1px);
		max-width: 550px;
		width: 95%;
		margin: 2rem auto;
		padding: 0 1rem 2rem;
		box-shadow: 0px 7px 20px;
}


// contact page

.page-id-13 {

	.entry-title {
		width: 90%;
		margin: 0 auto;
		max-width: 1400px;
	}

	article {

		padding: 7rem 0 4rem;
		@media screen and (min-width: 33.75rem) {
			padding-top: 9rem;
		}
		
	}
	.wp-block-columns {
		width: 90%;
		margin: 0 auto;
		max-width: 1400px;

	}
}

