.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-section {
	margin: 6rem 1rem;
	
	@media screen and (min-width: 1100px) {
		margin-left: 0;
		margin-right: 0;
		
	}
}

.article-thumb-title {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	color: $color__text-main;
	padding: 0 0.5rem;

	@media screen and (min-width: 550px) { 
		padding: 0.5rem;
		
	}
}

.hero-title {
	color: $color__text-main;
	// inline-size: 100%;
    overflow-wrap: break-word;
}

.hero-excerpt {
	color: $color__text-main;
	font-family: $font__italic;
}

.news-link {

	position: relative;
}
