.site-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 420;
    width: 100%;
    background: white;
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(0,212,255,0) 100%);
    height: 65px;
}


#nav-icon3 {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 6px;    
    width: 100%;
    background: #226432;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  /* Icon 3 */

  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 14px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 28px;
  }

  #nav-icon3[aria-expanded="true"] span {
    background: #AF2026;
  }
  
  #nav-icon3[aria-expanded="true"] span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3[aria-expanded="true"] span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3[aria-expanded="true"] span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3[aria-expanded="true"] span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
