.main-navigation {
	display: block;
	// width: 100%;
	z-index: -1;

	ul {
		// display: none;
		// display: block; <--ADAM
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			// position: absolute;
			position: relative;
			// top: 100%;
			// left: -999em;
			z-index: 99999;

			@media screen and (min-width: 1000px) {
				// display: none;
				// top: 0;
				
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				// width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	z-index: 1;
}

.main-navigation.toggled > .menu-menu-1-container {
	height: 100vh;
	top: 0;
	transition: 1s;

}

@media screen and (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		// display: flex; <--ADAM

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


.site-branding {
	@media screen and (min-width: 1000px) {
		position: fixed;
		left: calc(50% - 60px)
		
	}
}

#masthead {
	img {
		width: 80px;
		margin: 10px;

		@media screen and (min-width: 33.75rem) {
			width: 100px;
		}
	}
}

.menu-menu-1-container {
	background: linear-gradient(90deg, rgba(44,144,0,1) 0%, rgba(166,208,148,1) 2px, rgba(255,255,255,.7) 10px, rgba(255,255,255,.7) calc(100% - 10px), rgba(200,100,110,1) calc(100% - 2px), rgba(255,0,0,1) 100%);
	backdrop-filter: blur(8px) grayscale(.5);
	display: flex;
    flex-direction: column;
    justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	height: 100vh;
	top: -100vh;
	transition: .5s;

	@media screen and (min-width: 1000px) {
		top: 0;		
		height: 65px;



	}

	a {
		padding: 1rem 0;
		font-size: 1.25rem;
	}

}

.menu-item-has-children > a{
	display: none;

	@media screen and (min-width: 50em) {
		display: block;
	}
}





.sub-menu {
	@media screen and (min-width: 1000px) {
	flex-direction: column;	
	display: none;	
	top: 0;
	background-color: white;
}
}

.menu-item-has-children:hover .sub-menu, .menu-item-has-children:active .sub-menu {
	display: flex!important;
}



#primary-menu {
	// background-color: lightgray;
	width: fit-content;
	margin: 0 auto;
	padding: 0 2rem;
	text-transform: uppercase;

	@media screen and (min-width: 1000px) {
		width: 100%;
		position: fixed;
		top: 0;
		height: 65px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
		
	}
}


