button, .link-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	// border-radius: 3px;
	background: $color__background-button;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	line-height: 1;
	padding: 0.6em 1em;


	&:hover {
		border-color: $color__border-button-hover;
		background: $color__italia-green;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.link-button {
	width: 100%;
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 1rem 0;


		&:hover, &:active, &:focus, &:visited {
			color: rgba(255, 255, 255, 0.9);
		}

}

.hero-link-button {
	letter-spacing: 1px;
	border: 1px solid;
	border-color: $color__fvics-red;
	background: $color__fvics-red;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	line-height: 1;
	padding: .6em 1em;
	width: 100%;
	max-width: 230px;
	text-align: center;
	display: block;

	&:hover {
		border-color: $color__italia-red;
		background: $color__italia-red;

	}

	&:active,
	&:focus {
		border-color: $color__italia-green;
	}

	&:hover, &:active, &:focus, &:visited {
		color: rgba(255, 255, 255, 0.9);
	}
}

// wp forms button override
.wpforms-form button[type=submit], button.wpforms-page-button {
    background-color: $color__fvics-red !important;
    border-color: $color__fvics-red !important;
    color: #fff !important;
    // transition: background 0.3s ease-in-out;
	border-radius: 0 !important;
	font-family: $font__main !important;
	width: 100%;
	text-transform: uppercase;
}
.wpforms-form button[type=submit]:hover, button.wpforms-page-button:hover {
	background: $color__italia-red !important;
}


.tribe-events-c-subscribe-dropdown__button-text {
	text-transform: uppercase;
}





