input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


.newsletter-signup {
	p {
		margin-bottom: 0 !important;
	}
}
.wpforms-container {

	.wpforms-submit-container {
		margin-top: .5rem !important;
		padding-top: 0 !important;
	}

	.wpforms-field {
		padding: 0.5rem 0 !important;
	}

	.wpforms-field-row.wpforms-field-medium {
		max-width: 100% !important;
	}

	input.wpforms-field-medium {
		max-width: 100% !important;
	}
}

div.wpforms-container-full {
	margin: 0 auto !important;
}
