$color__fvics-red: rgb(175, 32, 38);
$color__fvics-green: rgb(34, 100, 50);
$color__fvics-blue: rgb(0, 0, 85);
$color__italia-red: rgb(227, 5, 33);
$color__italia-green: rgb(0, 156, 61);
$color__italia-blue: rgb(0, 100, 170);
$color__italia-gold: rgb(200, 182, 127);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__fvics-green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: $color__fvics-green;
$color__border-button-hover: $color__italia-green;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;



// background-color: hsl( var(--clr-white) / .25);

